<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% post = notification.post %>

<div class= "container">
  <div class="row" >
    <div class="col-lg-12">

      <%= link_to user_path(notification.visitor) do %>
        <%= visitor.name %>
      <% end %>
      <% if notification.action=='follow' %>
        さんがあなたをフォローしました
        <%= time_ago_in_words(notification.created_at) %>前 
      <% end %>

      <% if notification.action=='comment' %>
        さんがあなたの投稿にコメントしました
        <%= time_ago_in_words(notification.created_at) %>前
      <% end %>
      
      <% if notification.action=='dm' %>
        さんがあなたにダイレクトメッセージを送信しました
        <%= time_ago_in_words(notification.created_at) %>前
      <% end %>
      
    </div>
  </div>
</div>