  <div class="container-fluid">
   <div class="row">
    <div class="col12 top-image">
      <div class="aaa">
       <h1 class="text-center pt-4" style="color:#fff;">企業が集まる港へ、あなたも</h1>
       <p class="text-center py-2" style="color:#fff;">BPORTなら、あなたの求めるビジネスパートナーが見つかります</p>
　　　<div class="text-center ">
　　　   <%= link_to "無料会員登録",new_user_registration_path,class:"btn btn-primary btn-lg" %>
　　　   <%= link_to"ログイン",new_user_session_path,class:"btn btn-secondary btn-lg" %>
　　　</div>
　　 </div>
　　</div>

  <div class="container-fluid">
   <div class="row">
    <div class="col-12 about d-flex justify-content-center">
      <div class="box">
       <h1 class="text-center my-3 ">BPORTとは</h1>
       <p class="text-center mt-1 mb-3"><font size ="5">様々な企業が集まり、</br>
                                  課題や夢を共有し合う、ビジネスマッチングサイトです。</font></p>
      </div>
    </div>
   </div>
  </div>

   <div class="p-5" style="background-color:#F2F2F2;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-12 d-flex align-items-center">
           <p class="text-center"><font size ="5">
            まずは夢や希望、課題を投稿してみましょう！</br>
            思わぬ出会いにつながるかもしれません。</font></p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <%= image_tag 'detail1.png' %>
          <!--<img src= "/assets/detail1.png" class="img-fluid detail-image">-->
        </div>
      </div>
     </div>
    </div>

    <div class="p-5">
      <div class="container-fluid">
       <div class="row">
        <div class="col-lg-6 col-sm-12">
          <img src= "/assets/detail2.png" class="img-fluid detail-image">
        </div>
        <div class="col-lg-6 col-sm-12 d-flex align-items-center">
          <p class="text-center"><font size ="5">
            他社の投稿をチェックしてみましょう！</br>
            自社の成長につながる相談があるかもしれません。
          </font></p>
        </div>
       </div>
      </div>
    </div>

   <div class="p-5" style="background-color:#F2F2F2;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 col-sm-12 d-flex align-items-center">
          <p class="text-center"><font size ="5">
            気になった投稿があれば気軽にコメントしてみましょう！</br>
            直接DMを送ることも可能です。
          </font></p>
        </div>
        <div class="col-lg-6 col-sm-12">
         <img src= "/assets/detail3.png" class="img-fluid detail-image">
        </div>
      </div>
    </div>
   </div>



        <div class="col-12 p-5 align-items-center">
         <h1 class="text-center">さあ、始めよう</h1>
         <p class="text-center"><font size ="4">登録に必要な時間は１分程度です。</font></p>
　　　   <div class="text-center">
　　　     <%= link_to "無料会員登録",new_user_registration_path,class:"btn btn-primary btn-lg" %>
　　　     <%= link_to"ログイン",new_user_session_path,class:"btn btn-secondary btn-lg" %>
　　     </div>
        </div>


  </div>
  </div>
  </div>