<div class>
    <div class="col-12 top-image">
      <h1 class="text-center my" style="color:#fff;">企業が集まる港へ、あなたも</h1>
      <p class="text-center pt-3 pb-3" style="color:#fff;">BPORTなら、あなたの求めるビジネスパートナーが見つかります</p>
　　　<div class="pt- pb-4 text-center">
　　　  <%= link_to "無料会員登録",new_user_registration_path,class:"btn btn-primary btn-lg" %>
　　　   <%= link_to"ログイン",new_user_session_path,class:"btn btn-secondary btn-lg" %>
　　　</div>
    </div>

    <div class="col-12 about">
      <h1 class="text-center my-3">BPORTとは</h1>
      <p class="text-center mt-1 mb-3">様々な企業が集まり、</br>
                                  課題や夢を共有し合う、ビジネスマッチングサイトです。</p>
    </div>

    <div class="col-12 detail">
      <div class="row">
        <div class="col-6">
          <p class="my-3">
            まずは夢や希望、課題を投稿してみましょう！</br>
            思わぬ出会いにつながるかもしれません。</p>
        </div>
        <div class="col-6">
          <%= image_tag 'detail1.png' , :size =>'300x300' %>
        </div>
      </div>
    </div>

    <div class="col-12 detail2">
      <div class="row">
        <div class="col-6">
          <%= image_tag 'detail2.png' , :size =>'300x300' %>
        </div>
        <div class="col-6">
          <p class="my-3">
            他社の投稿をチェックしてみましょう！</br>
            自社の成長につながる相談があるかもしれません。
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 detail3">
      <div class="row">
        <div class="col-6">
          <p class="my-3">
            気になった投稿があれば気軽にコメントしてみましょう！</br>
            直接DMを送ることも可能です。
          </p>
        </div>
        <div class="col-6">
          <%= image_tag 'detail3.png' , :size =>'300x300' %>
        </div>
      </div>
    </div>

    <div class="col-12 last">
      <h1 class="text-center mt-3 mb-3">さあ、みんなが集まる港の一員へ</br>
                                        あなたも</h1>
      <p class="text-center pt-3 pb-3">登録に必要な時間は１分程度です。</p>
　　　<div class="pt- pb-4 text-center">
　　　  <%= link_to "無料会員登録",new_user_registration_path,class:"btn btn-primary btn-lg" %>
　　　   <%= link_to"ログイン",new_user_session_path,class:"btn btn-secondary btn-lg" %>
　　　</div>
    </div>

  </div>
</div>