<div class="col-md-8 offset-md-1">
    <h2>投稿内容詳細</h2>

   <table class="table">
     <tr>
      <th>名前</th>
      <td><%= link_to user_path(@user) do %>
          <%= attachment_image_tag @user, :image,width: '10%', height: '10%', format: 'jpeg', fallback: "no.image.png",class:"circle" %>
          <%= @user.name %>
          <% end %></td>
      </tr>
     <tr>
      <th>標題</th>
      <td><%= @post.title %></td>
     </tr>
     <tr>
      <th>進捗</th>
      <td><%= @post.status_i18n %></td>
     </tr>
     <tr>
      <th>内容</th>
      <td><%= @post.text %></td>
     </tr>
     <tr>
      <th>タグ</th>
      <td><% @post.tag_list.each do |tag| %>
             <span class="btn  btn-sm btn-primary mt-1 "><%= tag %></span>
             <% end %></td>
     </tr>

          <% if @post.user == current_user %>
      <td><%= link_to"編集",edit_post_path(@post.id),class:"btn btn-sm btn-success" %></td>
      <td><%= link_to"削除",post_path,method: :delete,class:"btn btn-sm btn-danger",data: {confirm: "本当に消しますか？"} %></td>
          <% end %>
  </table>

  <div>
   <p><strong><%= @post.comments.count %>件のコメント</strong></p>

   <div class="mb-3">
   <% if current_user != @user %>
    <%= form_with(model:[@post, @comment], local: true) do |f| %>
     <%= f.text_field :comment, rows:'5',placeholder: "コメントを入力してください",:size => 70 %>
     <%= f.submit "送信する" %>
    <% end %>
   <% end %>
  </div>

   <div class="row">
   <% @post.comments.each do |comment| %>
     <div class="col-2 text-center">
      <%= attachment_image_tag comment.user, :image,size: '50x50', format: 'jpeg', fallback: "no.image.png", class:"circle" %>
     </div>
     <div class="col-10">
      <small><%= comment.user.name %>　　<%= comment.created_at.strftime('%Y/%m/%d') %></small>
      <p><%= comment.comment %>
      <% if comment.user == current_user %>
       <%= link_to "削除", post_comment_path(comment.post,comment), method: :delete,class:"btn btn-sm btn-danger my-1",data: {confirm: "本当に消しますか？"} %></p>
      <% end %>
     </div>
    <% end %>
   </div>



 </div>