<!DOCTYPE html>
<html>
 <div class="container-fluid application">
  <head>
    <title>BPORT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <script src="https://kit.fontawesome.com/2370f14d43.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
       <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag 'logo.png' , :size =>'70x70' %></a>
          <% if current_user %>
             <div>ようこそ、<%= current_user.name %>さん！</div>
          <% end %>

          <ul class= "navbar-nav ml-auto">

            <% if user_signed_in? %>

             <li class="nav-item">
             <%= link_to " ログアウト", destroy_user_session_path, method: :delete,class:"fas fa-sign-out-alt nav-link text-light" %>
             </li>

             <li class="nav-item">
                 <%= link_to " マイページ", user_path(current_user.id),class:"far fa-user nav-link text-light" %>
             </li>

             <li class="nav-item">
                 <%= link_to " 投稿一覧", posts_path,class:"far fa-newspaper nav-link text-light" %>
             </li>

              <li class="nav-item">
                 <%= link_to " お問い合わせ", new_inquiry_path,class:"far fa-question-circle nav-link text-light" %>
             </li>

             <li class="nav-item">
                 <%= link_to " メッセージ", rooms_path,class:"far fa-envelope nav-link text-light" %>
             </li>


             <li class="nav-item p-circle">
                 <%= link_to " 通知", notifications_path,class:"far fa-bell nav-link text-light" %>
　　　　　　　　<% if unchecked_notifications.any? %>
               <i class="fa fa-circle n-circle" style="color: gold;"></i>
            　 <% end %>
             </li>


            <% else %>

             <li class="nav-item">
              <%= link_to " 新規登録",new_user_registration_path,class:"fas fa-user-plus nav-link text-light" %>
             </li>

             <li class="nav-item">
              <%= link_to" ログイン",new_user_session_path,class:"fas fa-sign-in-alt nav-link text-light" %>
             </li>



             <li class="nav-item">
                 <%= link_to " お問い合わせ", new_inquiry_path,class:"far fa-question-circle nav-link text-light" %>
             </li>

            <% end %>
          </ul>
        </div>
       </nav>
     </header>
     <main>

      <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

      <%= yield %>
     </main>
     <footer class="bg-secondary text-white">
      <div class="container-fluid">
        <div class= "row">
         <div class="col-lg-12 p-3">
          <p class="text-center">© All rights reserved by  BPORT.inc</p>
         </div>
        </div>
      </div>
     </footer>
    </div>
  </body>
</html>
